radio {
    min-height: 20px;
    min-width: 20px;
    border-radius: 100%; /* Círculo perfecto */
    border: 2px solid @lumina_text_secondary;
    background-color: transparent;
    transition: all 200ms ease;
}

/* Estado Seleccionado */
radio:checked {
    border: 2px solid @lumina_primary;
    /* Creamos el punto central con un gradiente radial */
    background-image: radial-gradient(circle, @lumina_primary 45%, transparent 55%);
}

radio:hover {
    box-shadow: 0 0 0 10px alpha(@lumina_primary, 0.1);
}

