progressbar trough {
    background-color: @lumina_surface; /* Fondo de la barra */
    border-radius: 10px;
    border: none;
    min-height: 8px; /* Un poco más gruesa para ser moderna */
}

progressbar progress {
    background-color: @lumina_primary; 
    background-image: linear-grandient( 90deg, transparent 0%, rgba(255, 255, 255, 0.15) 50%, transparent 100%);
    border-radius: 10px;
    border: none;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

levelbar {
    min-height: 8px;
    border-radius: 4px; 
}

levelbar trough {
    background-color: alpha(@lumina_bg, 0.6);
    border-radius: 4px;
}

levelbar block {
    border-radius: 3px; /* Un punto menos que el contenedor para encaje perfecto */
}

/* --- ANIMACIÓN DE ACTIVIDAD --- */
@keyframes lumina_progress_pulse {
    from { background-position: 200% 0; }
    to { background-position: -200% 0; }
}

/* Estado de carga indeterminada (cuando no se sabe el % ) */
progressbar.indeterminated progress {
    animation: lumina_indeterminated 1.5s infinite ease-in-out;
    width: 40%; /* Tamaño del bloque que rebota */
}


@keyframes lumina_indeterminated {
    0% { margin-left: -40%; }
    50% { margin-left: 100%; }
    100% { margin-left: -40%; }
    
    
