notebook {
   background-color: @lumina_bg
   border: 1px;
   }
   
notebook header {
  background-color: @lumina_surface;
  }
notebook tab {
   padding: 6px 12px;
   border: none;
   background-color: transparent;
   color: @lumina_text;
   font-weight: bold;
    transition: color 150ms ease-out, background-color 150ms ease-out;
    }
    notebook tab:checked, notebook tab:active {
    color: @lumina_primary;
    border-bottom: 3px solid @lumina_primary;
    }
    notebook tab button {
    padding: 0;
    min-width: 16px;
    min-height: 16px;
    border-radius: 100%;
    color: @lumina_text;
    }
    notebook tab button:hover {
    color: @lumina_error;
    background-color: alpha(@lumina_error, 0.1);
    }
