window {
    background-color: @lumina_bg;
    border-bottom: 4px solid @lumina_outline;
    border-color: transparent;
    color: @lumina_text;
}

   /* Decoración para aplicaciones con Headerbar */
window.csd {
    border-radius: 4px; /* 4px */
    margin: 10px; /* Espacio para la sombra de Mutter */
    background-color: @lumina_bg;
    border: 1px solid @lumina_outline;
    /* Tu acento de 4px */
    box-shadow: 0 0 0 1px @lumina_outline, 
                0 4px 0 0 @lumina_primary, 
                0 10px 30px rgba(0,0,0,0.15);
}

/* Estado cuando la ventana no tiene el foco */
window.csd:backdrop {
    box-shadow: 0 0 0 1px @lumina_outline, 
                0 4px 0 0 @lumina_text_secondary, 
                0 5px 15px rgba(0,0,0,0.05);
}

/* Maximizada: Eliminamos bordes y radios */
window.maximized, window.fullscreen {
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    border-bottom: 4px solid @lumina_primary;
}
/* Evitar sombras dobles en ventanas maximizadas */
window.maximized, window.fullscreen {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}

frame, .frame {
    border: 1px solid @lumina_outline;
    border-radius: 4px;
    padding: 2px;
}

/* El borde de los cuadros de texto grandes (TextView/ScrolledWindow) */
scrolledwindow frame {
    border: none; /* Evitamos doble borde en visores con scroll */
}

/* --- MARCOS CON TÍTULO (Group Boxes) --- */
frame > label {
    font-weight: 700;
    color: @lumina_text;
    font-size: 0.9rem;
    margin-bottom: 4px;
    margin-left: 6px;
    text-shadow: 0 0 3px alpha(@anime_cyan, 0.4);
}

frame:backdrop,
.frame:backdrop {
    border-color: alpha(@border_color, 0.5);
}

frame > label:backdrop {
    color: alpha(@anime_cyan, 0.4);
    text-shadow: none;
}

/* --- MARCOS DE SELECCIÓN (Rubberband) --- */
.rubberband,
rubberband {
    background-color: alpha(@anime_cyan, 0.2);
    border: 1px solid @anime_cyan;
    border-radius: 2px;
}

/* --- LÍNEAS DIVISORIAS (Separadores) --- */
separator {
    background-color: @border_color;
    min-height: 1px;
    min-width: 1px;
    margin: 4px 0;
}

/* Neutralizar separator pegado al headerbar para eliminar línea negra */
window.csd separator:first-child,
window.csd > box > separator:first-child,
window.csd > stack > separator:first-child {
    background-color: transparent;
    min-height: 0;
    margin: 0;
}

/* --- MARCOS DE IMAGENES O MINIATURAS --- */
frame.image-frame {
    border: 1px solid @anime_cyan;
    background-color: @bg_widgets;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

/* --- BORDES DE LISTAS (ListBox) --- */
list {
    background-color: @bg_widgets;
    border: 1px solid @border_color;
    border-radius: 6px;
}

row {
    transition: background-color 150ms ease;
}

row:selected {
    background-color: alpha(@anime_cyan, 0.1);
    color: @anime_cyan;
    box-shadow: inset 3px 0 0 @anime_cyan;
}

