

selection {
    background-color: alpha(@lumina_primary, 0.3);
    color: @lumina_text;
}
/* --- EL CONTENEDOR (EL "CANAL") --- */
switch {
    border-radius: 20px;
    border: 2px solid @lumina_text_secondary;
    background-color: transparent;
    min-height: 28px;
    min-width: 50px;
    transition: all 200ms ease;
}

/* Estado encendido (ON) */
switch:checked {
    background-color: @lumina_primary;
    border-color: @lumina_primary;
}

/* --- EL TIRADOR (EL "SLIDER") --- */
switch slider {
    background-color: @lumina_text_secondary;
    border-radius: 100%;
    margin: 4px;
    min-height: 18px;
    min-width: 18px;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* El slider cuando está encendido */
switch:checked slider {
    background-color: @lumina_on_primary;
    margin-left: 4px; /* Desplazamiento animado */
    transform: scale(1.2); /* Crece un poco al activarse */
}

/* Estado al pasar el mouse (Hover) */
switch:hover slider {
    box-shadow: 0 0 0 10px alpha(@lumina_primary, 0.1); /* Efecto halo de luz */
}

list row {
    padding: 12px 16px;
    border-bottom: 1px solid @lumina_outline;
}

/* --- EL CHECKBOX --- */
check {
    min-height: 16px;
    min-width: 16px;
    border-radius: 4px; /* Un poco redondeado, no totalmente cuadrado */
    border: 2px solid @lumina_text_secondary;
    background-color: transparent;
    margin: 4px;
    transition: all 200ms ease;
}

/* Estado Marcado (Checked) */
check:checked {
    background-color: @lumina_primary;
    border-color: @lumina_primary;
    /* Aquí podrías usar un asset SVG para el 'v' blanco */
    background-image: url("assets/check.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Efecto de foco/hover estilo Material */
check:hover {
    box-shadow: 0 0 0 10px alpha(@lumina_primary, 0.1);
}

/* --- EL RADIO BUTTON --- */
radio {
    min-height: 20px;
    min-width: 20px;
    border-radius: 100%; /* Círculo perfecto */
    border: 2px solid @lumina_text_secondary;
    background-color: transparent;
    transition: all 200ms ease;
}

/* Estado Seleccionado */
radio:checked {
    border: 2px solid @lumina_primary;
    /* Creamos el punto central con un gradiente radial */
    background-image: radial-gradient(circle, @lumina_primary 45%, transparent 55%);
}

radio:hover {
    box-shadow: 0 0 0 10px alpha(@lumina_primary, 0.1);
}

/* --- BARRA DE PROGRESO --- */


/* --- DECORACIÓN DE LA VENTANA (CSD) --- */


tooltip {
    background-color: #322F37; /* Color oscuro de M3 para tooltips */
    color: #F4EFF4;
    border-radius: 8px;
    padding: 4px 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
