@import url("shell/lumina.ui.shell.startmenu.scss");
@import url("shell/lumina.ui.shell.dialog.scss");
@import url("shell/lumina.ui.shell.workspace.scss");
@import url("shell/lumina.ui.shell.calendar.scss");
@import url("shell/lumina.ui.shell.shell.scss");


#panel, #panel-container, .panel-background {
    background-color: #F0F2F5 !important;
    color: rgb(107, 93, 211) !important;
    height: 32px !important; 
}

.panel-top { border-bottom: 4px solid rgb(107, 93, 211) !important; }
.panel-bottom { border-top: 4px solid rgb(107, 93, 211) !important; }

.panel-left-side { border-right: 4px solid #5E81AC !important; background-color: #F0F2F5 !important; }
.panel-right-side { border-left: 4px solid #5E81AC !important; background-color: #F0F2F5 !important; }

.panel-button, .applet-box, .window-list-item-box {
    background-color: transparent !important;
    border-radius: 0px !important;
    padding: 0.5em 1em !important;
    color: #4C566A;
    font-weight: 700;
    transition: none !important;
}

.panel-button:hover, .applet-box:hover, .window-list-item-box:hover {
    background-color: rgb(107, 93, 211) !important;
    color: rgb(255,255,255) !important;
    border-radius: 0.5em;
}

.window-list-item-box:active, .window-list-item-box:checked, .window-list-item-box.active {
    background-color: rgb(107, 93, 211) !important;
    color: rgb(255,255,255) !important;
    box-shadow: inset 0 -3px 0 #5E81AC !important;
    padding: 0 0.75em;
}


#notification, #switcher-list, .osd-window {
    background-color: #F0F2F5 !important;
    border: 0.0625em solid #D8DEE9 !important;
    border-bottom: 4px solid #5E81AC !important;
    border-radius: 0.375em 0.375em 0.375em 0.375em !important;
    padding: 0.375em;
    color: #2E3440 !important;
}

.resize-handle { background-color: #5E81AC; border: 1px solid #F0F2F5; }

.applet-badge {
    background-color: #5E81AC !important;
    color: white !important;
    border-radius: 0px !important;
    padding: 1px 3px !important;
    font-size: 7pt !important;
    font-weight: bold !important;
}

/* Hover en el panel imitando tus Window Controls */
.panel-button:hover, .applet-box:hover {
    background-color: rgba(107,93,211, 0.12) !important; /* button_control_hover */
    color: rgb(107,93,211) !important;
}

/* Botón de cerrar notificaciones (Semántica de peligro) */
.notification-button:hover {
    background-color: rgba(192,54,44, 0.15) !important; /* button_close_hover */
}

