
headerbar,
headerbar.titlebar,
headerbar:backdrop,
headerbar.titlebar:backdrop {
    background-color: @lumina_bg;
    background-image: none;
    min-height: 1.75em;
    padding: 0 0.75em;
    border: none;
    border-bottom: 0.0625em solid @lumina_outline;
    box-shadow: none;
}

headerbar > box,
headerbar.titlebar > box {
    background-color: @lumina_bg;
    background-image: none;
}

headerbar .title {
    font-weight: 700;
    font-size: 1em;
    color: @lumina_text;
}

headerbar .subtitle {
    font-size: 0.6875em;
    color: @lumina_text_secondary;
}

headerbar button {
    min-width: 2.375em;
    min-height: 2.375em;
}

