
levelbar trough {
    background-color: @lumina_surface;
    background-image: none;
    border: 0.0625em solid @lumina_outline;
    border-radius: 0.375em;
    padding: 0.125em;
    min-height: 0.625em;
}

levelbar trough > box {
    padding: 0;
    background: none;
}

levelbar block {
    background-clip: padding-box;

    min-width: 0.375em;
    margin: 0 0.0625em;

    border-radius: 0.125em;
    border: none;
    transition: background-color 200ms ease,
                box-shadow 200ms ease;
}

levelbar block.low {
    background-color: @lumina_error;
}

levelbar block.medium {
    background-color: @lumina_warning;
}

levelbar block.high,
levelbar block.default {
    background-color: @lumina_primary;
}

levelbar block.full {
    background-color: @lumina_success;
    box-shadow: 0 0 0.25em alpha(@lumina_success, 0.45);
}

levelbar:backdrop block {
    opacity: 0.6;
}
