
menu,
menu:backdrop,
.popover,
.popover:backdrop {
    background-color: @lumina_card;
    background-image: none;
    border-radius: 0.75em;
    border: 0.0625em solid @lumina_outline;
    padding: 0;
    box-shadow: 0 0.625em 2.5em alpha(black, 0.12);
}

menu > box,
.popover > box {
    background-color: @lumina_card;
    background-image: none;
    padding: 0.5em 0;
}

.popover > arrow {
    background: none;
    border: none;
}

menuitem {
    padding: 0.5em 1em;
    margin: 0 0.375em;
    border-radius: 0.375em;
    color: @lumina_text;
    background-color: transparent;

    transition: background-color 200ms ease, color 200ms ease;
}

menuitem:hover,
menuitem:selected {
    background-color: alpha(@lumina_primary, 0.1);
    color: @lumina_primary;
}

menuitem:active {
    background-color: alpha(@lumina_primary, 0.2);
}

menu separator {
    background-color: @lumina_outline;
    margin: 0.375em 0.25em;
    min-height: 0.0625em;
    opacity: 0.2;
}

