/* --- EL INTERRUPTOR (SWITCH) --- */
switch {
    /* 28px 50px -> 1.75em 3.125em */
    min-height: 1.75em;
    min-width: 3.125em;
    border-radius: 9999px; /* Forma de píldora pura */
    border: 0.125em solid @lumina_text_secondary;
    background-color: transparent;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

switch:checked {
    background-color: @lumina_primary;
    border-color: @lumina_primary;
}

switch slider {
    background-color: @lumina_text_secondary;
    border-radius: 9999px;
    /* 18px -> 1.125em */
    min-height: 1.125em;
    min-width: 1.125em;
    /* 4px -> 0.25em */
    margin: 0.25em;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}



switch:checked slider {
    background-color: @lumina_on_primary;
    /* En el estado ON, el slider crece ligeramente (Material Style) */
    transform: scale(1.2);
}

