@import url("mode/lumina.ui.manifest.dark.scss");
@import url("interface/lumina.ui.shell.scss");
@import url("interface/lumina.ux.shell.scss");

/*Applications*/

@import url("application/lumina.app.filemanager.scss");
@import url("application/lumina.app.media-players.scss");
@import url("application/lumina.app.text-editors.scss");

/*Interface*/

@import url("interface/lumina.ui.controls.buttons.scss");
@import url("interface/lumina.ui.navigation.scrollbar.scss");
@import url("interface/lumina.ui.feedback.levelbar.scss");
@import url("interface/lumina.ui.chrome.headerbar.scss");
@import url("interface/lumina.ui.controls.entry.scss");
@import url("interface/lumina.ui.surface.menus.scss");
@import url("interface/lumina.ui.navigation.tabs.scss");
@import url("interface/lumina.ui.controls.slider.scss");
@import url("interface/lumina.ui.controls.switch.scss");
@import url("interface/lumina.ui.surface.popvers.scss");
@import url("interface/lumina.ui.feedback.progressbar.scss");
@import url("interface/lumina.ui.controls.checkbox.scss");

/* platform */
@import url("platforms/lumina.platform.gnome-ecosystem.scss");
@import url("platforms/lumina.platform.xfce-ecosystem.scss");
@import url("platforms/lumina.platform.budgie-ecosystem.scss");
